@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
    --color-birawa-50: #f0fdfa;
    --color-birawa-100: #ccfbf1;
    --color-birawa-500: #14b8a6;
    --color-birawa-600: #0d9488;
    --color-birawa-900: #134e4a;

    --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
